body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(50, 50, 50);
    color: rgb(50, 50, 50);
}

.reg {
    color: blue;
    text-decoration: underline;
}

.btn {
    border: none;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-control {
    background-color: #ddd;
}